/** {
	border:2px solid red;
}*/
div {
	border-radius:5px;
}

body {
    background-color:#C4C4C4;
}
#header {
	z-index:1;
	position:fixed;
	width:99.25%;
	height:60px;
	margin-top:-20px;
	background-color:#A6A6A6;
	margin-bottom:10px;
}

.left {
	position:relative;
	float:left;
	margin-top:50px;
	width:10%;
	height:2000px;
	background-color:#B3D9FF;
	margin-bottom:10px;
}
.right {
	position:relative;
	margin-top:50px;
	float:right;
	width:89%;
	height:2000px;
	background-color:#FFE6B3;
	margin-bottom:10px;
}

.menu_button {
    border-radius:5px;
    background-color:#A6A6A6;
    width:9%;
    height:25px;
    position:fixed;
    margin-top:10px;
    margin-left:0.5%;
    text-align:center;
}

.menu_button a {
    color:white;
    font-family:Verdana, sans-serif;
    text-decoration:none;
}

#footer {
	position:relative;
	height:50px;
	background-color:gray;
	clear:both;
}

#footer p {
    font-family:Verdana, sans-serif;
	font-size:16px;
	text-align:center;
	color:white;
	position:relative;
	padding-top:15px;
}

p {
    margin:0;
    position:relative;
    padding-left:50px;
    font-family:Arial;
    font-size:16px;
    color:black;
    text-align:left;
}
h1 {
	color:white;
	font-family:Verdana, sans-serif;
	float:left;
	margin-left:5px;
	margin-top:10px;
}
#fleft {
    float:left;
    font-weight:bold;
}

#fright {
    float:right;
    font-weight:bold;
    padding-right:8%;
}
h2 {
    font-family:Verdana, sans-serif;
    font-variant:small-caps;
    padding-left:30px;
}

h3 {
    font-family:Verdana, sans-serif;
    padding-left:30px;
}

li {
    position:relative;
    margin-left:30px;
    font-family:Arial;
    width:90%;
    text-align:justify;

}
#email {
	text-decoration:none;
	float:right;
	margin-right:5px;
	padding-top:15px;
	font-size:24px;
	font-family: Verdana, sans-serif;
	color:white;
}	

a:hover {
	font-weight:bold;
}

table {
    padding-left:30px;
    width:92%;
    text-align:center;
    font-family:Verdana, sans-serif;
}

th, td {
    border:1px solid black;
    width:23%;
}

#thumbwrap {
	position:relative;
	margin:5px auto;
	width:150px;
	height:150px;
}
.thumb img {
    position:relative;
	border:1px solid #555;
	margin-top:5px;
	margin-left:4px;
	width:95%;
    height:150px;
}
.thumb span {
	position:absolute;
	visibility:hidden;
}
.thumb:hover {
    text-decoration:none;
    width:750%;
	height:750%;
}

.thumb:hover span {
	visibility:visible;
	top:0;
	left:125%;
	width:750px;
	height:750px;
	z-index:1;
}
